/* Header style */
@font-face {
    font-family: 'Lodeh';
    src: url('Lodeh-VGLD6.ttf');
}

/* Text style */
@font-face {
    font-family: "Pirata";
    src: url('PirataOne-Regular.ttf');
}

body {
    background-color: black;
    color: darkred;  
    font-family: 'Lodeh';
}

h1 {
    font-style: bold;
}

h4 {
    font-family: 'Pirata';
    font-size: large;
}

/* Divider styles */
.gothic-divider {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gothic-divider hr {
    flex-grow: 1;
    border: 0;
    border-top: 2px solid white;
    margin: 0 5px;
}

.gothic-symbols {
    font-size: 24px;
    color: white;
    font-family: 'Gothic', sans-serif;
    text-align: center;
    padding: 0 10px;
}

/* Link styles */
a {
    color: darkmagenta;
}

a:hover {
    color: #600060;
}

/* Navigation bar styles */
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
}
  
.nav {
    float: left;
}

.nav a {
    display: block;
    color: darkmagenta;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.nav a:hover:not(.active) {
    animation: flicker 0.15s infinite;
    color: #FF69B4;
}

@keyframes flicker {
    0%, 100% { text-shadow: 0 0 5px crimson; }
    50% { text-shadow: 0 0 15px crimson; }
  }

/* List styles */
ul {
    color: darkgreen;
}

.item-container {
    display: flex;              /* Use flexbox for side-by-side layout */
    justify-content: center;    /* Horizontally center content */
    align-items: center;        /* Vertically center content */
    gap: 20px;                  /* Space between image and text */ 
}

/* Gallery styles for small screens */
@media screen and (max-width: 1000px) {
    table, thead, tbody, th, td, tr {
        display: block;                         /* Make everything block-level */
    }

    td {
        border: none;                           /* Remove borders for cleaner look */
        position: relative;                     /* Position for pseudo-elements */
        padding: 5px;                           /* Add padding for spacing */
        text-align: center;                     /* Center the content inside the cell */
    }
}