/* Header style */
@font-face {
    font-family: 'Lodeh';
    src: url('Lodeh-VGLD6.ttf');
}

/* Text style */
@font-face {
    font-family: "Pirata";
    src: url('PirataOne-Regular.ttf');
}

body {
    background-color: black;
    color: darkred;  
    font-family: 'Lodeh';
}

h1 {
    font-style: bold;
}

h4 {
    font-family: 'Pirata';
    font-size: large;
}

/* Divider styles */
.gothic-divider {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gothic-divider hr {
    flex-grow: 1;
    border: 0;
    border-top: 2px solid white;
    margin: 0 5px;
}

.gothic-symbols {
    font-size: 24px;
    color: white;
    font-family: 'Gothic', sans-serif;
    text-align: center;
    padding: 0 10px;
}

/* Link styles */
a {
    color: darkmagenta;
}

a:hover {
    color: #600060;
}

/* Navigation bar styles */
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}
  
.nav {
    float: left;
}

.nav a {
    display: block;
    color: darkmagenta;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
}

.nav a:hover:not(.active) {
    color: #600060;
}

/* List styles */
ul {
    color: darkgreen;
}

.list-item {
    flex: 1;                    /* Each column takes up equal space */
    max-width: 37.5%;           /* Matches the width from your table */
    /* justify-content: space-evenly; */
}

/* Formatting styles */
.item-container {
    display: flex;              /* Use flexbox for side-by-side layout */
    justify-content: center;    /* Horizontally center content */
    align-items: center;        /* Vertically center content */
    gap: 20px;                  /* Space between image and text */
}

.profile-container img {
    height: auto;               /* Maintain aspect ratio */
}

/* Screen style */
.screen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('Images/frame.png') no-repeat center center;
    opacity: 0.3;
    background-size: cover;
    z-index: 1;
    pointer-events: none;
}
